In [ ]:
!pip install mlxtend

In [23]:
import pandas as pd
import pprint as p
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [24]:
# Example dataset: list of transactions (each transaction is a list of items)
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

dataset

[['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
 ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
 ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [25]:
# Transform the dataset into the right format
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [26]:
# Apply the Apriori algorithm to find frequent itemsets
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)

frequent_itemsets

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Eggs, Onion)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Kidney Beans, Onion)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Eggs, Kidney Beans, Onion)

In [27]:
# Generate the rules with their corresponding support, confidence and lift
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

In [29]:

# Display the rules
print(rules)

              antecedents            consequents  antecedent support  \
0                  (Eggs)         (Kidney Beans)                 0.8
1          (Kidney Beans)                 (Eggs)                 1.0
2                  (Eggs)                (Onion)                 0.8
3                 (Onion)                 (Eggs)                 0.6
4                  (Milk)         (Kidney Beans)                 0.6
5                 (Onion)         (Kidney Beans)                 0.6
6                (Yogurt)         (Kidney Beans)                 0.6
7    (Eggs, Kidney Beans)                (Onion)                 0.8
8           (Eggs, Onion)         (Kidney Beans)                 0.6
9   (Kidney Beans, Onion)                 (Eggs)                 0.6
10                 (Eggs)  (Kidney Beans, Onion)                 0.8
11                (Onion)   (Eggs, Kidney Beans)                 0.6

    consequent support  support  confidence  lift  leverage  conviction  \
0                  1.0      0.8        1.00  1.00      0.00         inf
1                  0.8      0.8        0.80  1.00      0.00         1.0
2                  0.6      0.6        0.75  1.25      0.12         1.6
3                  0.8      0.6        1.00  1.25      0.12         inf
4                  1.0      0.6        1.00  1.00      0.00         inf
5                  1.0      0.6        1.00  1.00      0.00         inf
6                  1.0      0.6        1.00  1.00      0.00         inf
7                  0.6      0.6        0.75  1.25      0.12         1.6
8                  1.0      0.6        1.00  1.00      0.00         inf
9                  0.8      0.6        1.00  1.25      0.12         inf
10                 0.6      0.6        0.75  1.25      0.12         1.6
11                 0.8      0.6        1.00  1.25      0.12         inf

    zhangs_metric
0             0.0
1             0.0
2             1.0
3             0.5
4             0.0
5             0.0
6             0.0
7             1.0
8             0.0
9             0.5
10            1.0
11            0.5